{{#*inline "page"}}
    {{#with event }}
        <div id="event-{{ id }}" class="card mx-auto m-2 background-secondary" style="width: 60%;">
            <div class="card-body background-secondary">
                <div class="d-flex justify-content-between">
                    <h1 class="card-title event-inline-name" style="display: inline;">
                        {{ name }}
                    </h1>
                    <h3 class="event-inline-time" title="{{ time_custom time "%d.%m.%Y %H:%M" }}">
                        <div>
                            {{ time_custom time "%A" }} {{ time_custom time "%H:%M" }} - {{ time_custom time_end
                                                                                                        "%H:%M" }}
                            <br>
                            {{ time_custom time "%d.%m.%Y" }}
                        </div>
                    </h3>
                </div>
            </div>
            <ul class="list-group list-group-flush background-secondary">
                <li class="card-subtitle list-group-item background-secondary event-price-list-item">
                    {{#if price }}
                        <span class="event-price">{{ price }}</span> <span class="event-currency">{{ currency }}</span>
                    {{ else }}
                        <span class="event-free">Kostenlos</span>
                    {{/if}}
                </li>
                <li class="list-group-item background-secondary event-description">
                    {{ description }}
                </li>
                {{#with location }}
                    {{~> location_list_item }}
                {{/with}}
                {{~> organizer_list_item }}
            </ul>
            <div class="tags">
                {{#each tags}}
                    {{~> tag_inline }}
                {{/each}}
            </div>
        </div>
    {{/with}}

{{/inline}}
{{~> (parent)~}}
